<!DOCTYPE html>
<html>
  <head>
    <title>iNSSET DEVOPS DEMO</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <!--STYLES-->
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <!--STYLES END-->
  </head>
  <body>
     <div id="container">
        <div id="menu">
          <ul id="slide-out" class="side-nav fixed show-on-large-only">
            <div class="side-container">
              <img src="/images/tauren.png" />
              <div>
                    <span> Welcome, </span><br>
                    <span style="font-weight: bold; font-size:1.2em"> Super User </span>
              </div>
            </div>
            <li><a href="/"><i class="material-icons">flight</i>Mounts</a></li>
            <li><a href="/pet"><i class="material-icons">adb</i>Pets</a></li>
            <li><a href="/boss"><i class="material-icons">android</i>Boss</a></li>
          </ul>
        </div>
        <div id="content">
        <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons burger">menu</i></a>
          <div id="container">
                <div id="app">
                    <%- body %>
                </div>
          </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"></script>
    
    <!--SCRIPTS-->
    <script src="/static/js/custom.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>